################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/aspnet-core/src/SuperAbp.Exam.Admin.HttpApi.Host/Logs
/aspnet-core/src/SuperAbp.Exam.Admin.HttpApi.Host/yarn.lock
/aspnet-core/src/SuperAbp.Exam.HttpApi.Host/yarn.lock
.vshistory
angular-admin/.vscode
/aspnet-core/src/SuperAbp.Exam.Admin.HttpApi.Host/appsettings.Development.json
/aspnet-core/src/SuperAbp.Exam.AuthServer/appsettings.Development.json
/aspnet-core/src/SuperAbp.Exam.HttpApi.Host/appsettings.Development.json
