@if (form) {
  <ng-template #phActionTpl>
    <button (click)="back($event)" nz-button nzType="primary">{{ 'Exam::Back' | abpLocalization }}</button>
  </ng-template>
  @if (questionId) {
    <page-header [action]="phActionTpl" [title]="'Exam::Edit' | abpLocalization"> </page-header>
  } @else {
    <page-header [action]="phActionTpl" [title]="'Exam::NewQuestion' | abpLocalization"></page-header>
  }

  <form nz-form [formGroup]="form" nzLayout="horizontal">
    <nz-card>
      <nz-row nzGutter="16">
        <nz-col nzLg="12" nzXs="24">
          <nz-form-item>
            <nz-form-label nzRequired>{{ 'Exam::QuestionType' | abpLocalization }}</nz-form-label>
            <nz-form-control
              nzHasFeedback
              [nzValidatingTip]="'AbpValidation::Validating' | abpLocalization"
              [nzErrorTip]="questionTypeErrorTpl"
            >
              <nz-select
                formControlName="questionType"
                nzShowSearch
                nzAllowClear
                [nzDisabled]="questionId"
                [nzPlaceHolder]="'Exam::Placeholder' | abpLocalization: ('Exam::QuestionType' | abpLocalization)"
              >
                @for (questionType of questionTypes; track $index) {
                  <nz-option [nzValue]="questionType.value" [nzLabel]="questionType.label"></nz-option>
                }
              </nz-select>
              <ng-template #questionTypeErrorTpl let-control>
                @if (control.hasError('required')) {
                  {{ 'AbpValidation::ThisFieldIsRequired.' | abpLocalization }}
                }
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzLg="12" nzXs="24">
          <nz-form-item>
            <nz-form-label nzRequired>{{ 'Exam::QuestionBank' | abpLocalization }}</nz-form-label>
            <nz-form-control
              nzHasFeedback
              [nzValidatingTip]="'AbpValidation::Validating' | abpLocalization"
              [nzErrorTip]="questionBankErrorTpl"
            >
              <nz-select
                formControlName="questionBankId"
                nzShowSearch
                nzAllowClear
                [nzPlaceHolder]="'Exam::Placeholder' | abpLocalization: ('Exam::QuestionBank' | abpLocalization)"
              >
                <nz-option
                  *ngFor="let questionBank of questionBanks"
                  [nzValue]="questionBank.id"
                  [nzLabel]="questionBank.title"
                ></nz-option>
              </nz-select>
              <ng-template #questionBankErrorTpl let-control>
                @if (control.hasError('required')) {
                  {{ 'AbpValidation::ThisFieldIsRequired.' | abpLocalization }}
                }
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-form-item>
        <nz-form-label nzRequired>{{ 'Exam::QuestionContent' | abpLocalization }}</nz-form-label>
        <nz-form-control nzHasFeedback [nzValidatingTip]="'AbpValidation::Validating' | abpLocalization" [nzErrorTip]="contentErrorTpl">
          <textarea
            formControlName="content"
            nz-input
            rows="4"
            [placeholder]="'Exam::Placeholder' | abpLocalization: ('Exam::QuestionContent' | abpLocalization)"
          ></textarea>
          <ng-template #contentErrorTpl let-control>
            @if (control.hasError('required')) {
              {{ 'AbpValidation::ThisFieldIsRequired.' | abpLocalization }}
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>{{ 'Exam::KnowledgePoint' | abpLocalization }}</nz-form-label>
        <nz-form-control>
          <nz-tree-select
            formControlName="knowledgePointIds"
            [nzNodes]="nodes"
            nzShowSearch
            [nzAllowClear]="false"
            [nzMultiple]="true"
            [nzDefaultExpandAll]="true"
            nzPlaceHolder="Please select"
          ></nz-tree-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>{{ 'Exam::Analysis' | abpLocalization }}</nz-form-label>
        <nz-form-control>
          <textarea
            formControlName="analysis"
            nz-input
            rows="4"
            [placeholder]="'Exam::Placeholder' | abpLocalization: ('Exam::Analysis' | abpLocalization)"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
      @if (questionType.value != null) {
        @switch (questionType.value) {
          @case (0) {
            <single-select [questionId]="questionId" [questionForm]="form"></single-select>
          }
          @case (1) {
            <multi-select [questionId]="questionId" [questionForm]="form"></multi-select>
          }
          @case (2) {
            <judge [questionId]="questionId" [questionForm]="form"></judge>
          }
          @case (3) {
            <blank [questionId]="questionId" [questionForm]="form"></blank>
          }
        }
      }
    </nz-card>
  </form>

  <footer-toolbar>
    <button nz-button nzType="primary" [disabled]="!form.valid" [nzLoading]="isConfirmLoading" (click)="save()">
      {{ 'Exam::Submit' | abpLocalization }}
    </button>
  </footer-toolbar>
} @else {
  <nz-spin class="modal-spin"></nz-spin>
}
